{% extends "base.html" %}
{% block title %}
    <title>Main Page</title>
    {% endblock %}
  <body class="text-center">
    
    {% block content %}
<div>
<div id="text-1">Chatbot!</div>

<div id="text-2">
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
    </div>
    </div>
    <div id="mid-empty-2"></div>
    <div id="img-container"><img id="img-2" src="../static/robot.png" height="170px"></div>
<div id="mid-empty-2"></div>
    <div id="chatbox" class="card text-center">
        <div id="answerbox">
            <!-- <img src="../static/default.png" alt="robot" id="robotimg"> -->
            <div id="card">
                <form role="form" method='POST' action='/chatbot' class="">
                  <div class="form-group text-center" id="questionbox">
                    <input type="text" name="message" class="" id="message-box" placeholder="Enter question" style="max-width: 300px;" autofocus required>
                  </div>
                  <button type="submit" style="display: none" class="btn btn-default">Submit</button>
                </form>
                <br>
                <div id="text-4">Chatbot says...</div>
                
                {% for answer in answer_list %}
                <ul><li><div id="text-0">{{answer}}</div></li></ul>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
  </body>
</html>


<!-- <ul><li>{{answer}}</li></ul> -->
<!-- <div id="text-0">{{answer}}</div> -->