{% extends "base.html" %}
  <body>
    
    {% block content %}
    <!-- <div id="bg">
    <div id="mid-empty"></div>
    <div id="mid"> -->
    <div id="part-1">
    <div id="text-1">Welcome to the Chatbot website!</div>
    <div id="text-2">
    <p>Chat with our bot about anything and everything.</p>
    <br>
    <p>The Chatbot is programmed to closely mimic human behavior and interact with the website visitor in a conversational manner.</p>
    <br>
    </div>
  </div>
  <div id="part-2">
    <div id="img-container"><img id="img-1" src="../static/laptop.jpg"></div>
  </div>
  <div id="text-3">
    <p>Please email your suggestions to <a id="email" href="mailto:kamiloleskiewicz@gmail.com">kamiloleskiewicz@gmail.com</a>.</p>

    </div>
    <!-- </div>
    </div> -->
    
    {% endblock %} 
  </body>
</html>


